.DS_Store

# Generated directories:
.nyc_output/
coverage/
dist/
node_modules/

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Project files:
*.sublime-*
/.clj-kondo/.cache/v1/lock
/.lsp/.cache/db.transit.json
